root: true
env:
  browser: true
  node: true
  es2022: true

extends:
  - eslint:recommended
  - plugin:react/recommended

parserOptions:
  ecmaVersion: latest
  sourceType: module

plugins:
  - react

rules:
  no-console: off  
  no-unused-vars: warn  
  react/prop-types: off

settings:
  react:
    version: "21.7"
